<% provide(:title, "about") %>
<div class="row content">
  <div class="large-12 columns">
    <h2>about</h2>

    <p>As this brand is a part of Artlytical Media ongoings, our team is a subset of that team that exclusively works on app development and promotion.</p>
  </div>
</div>