<% provide(:title, "about") %>
<img class="hero-img hide-for-small" src="http://placehold.it/1200x200&text=about image" alt="about image">

<img class="hero-img show-for-small" src="http://placehold.it/400x200&text=about image mobile" alt="about image mobile">

<div class="content">
  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">
      <br>
      
      <p>Say hello to afabl™! We make  (it's in our name!); meaning that our apps are designed to pull your head up when other companies would rather keep your head down. Everything we produce improves life outside of your smartphone.</p>

      <p>We are a small and enthusiastic team of developers and designers who are passionate about improving the lives of others around the world. Our belief is that apps can be used to make the world a better place, without having to be immersed in their use all day and all the time. Smartphones should be used as a force for good, not for evil.</p>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center">Our Team</h2>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3 class="text-center">David Rhoderick<br>
      <small>Director, lead developer</small></h3>
    </div>
  </div>

  <div class="row">
    <div class="small-8 small-offset-2 medium-3 medium-offset-1 columns">
      <%= image_tag( 'david-rhoderick.png', :class => "team-member" ) %>
    </div>

    <div class="medium-7 columns end">
      <br>
      <p>After finishing 6 years of Computer and Electronic Art, David ended up with a vast skillset; spanning from video editing and audio production to programming and web design. The other half of his studies, the art side, were the conceptual soil from which the very first app ideas came. Working at the startup Open Air Publishing, David saw how it could be a good idea to pursue of his own. He started the parent company, Artlytical Media, in November 2014. He plays guitar as meditation and loves to cook new dishes constantly.</p>
    </div>
  </div>
</div>