<% provide(:title, "the afabl award") %>
<div class="content">
  <div class="headline-container" id="award-headline">
    <div class="headline">
      <h1 class="text-center">the afabl award</h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-8 medium-offset-2 columns">
      <p>Apps for a better life is more than just a brand, it is a philosophy.  As a result, we have created an award for apps that meet the same standards that our apps fulfill.  Specifically, afabl award winning apps follow these requirements:</p>

      <ul>
        <li>The app must be well designed and intuitive.  A user mustn't spend too much time learning how to use the app, it must be natural to use.</li>
        <li>The app must encourage activity outside of smartphone usage.  This can span anything from helping people find places to go to helping them engage more in activities outside of the phone.</li>
        <li>The app should improve the life of the person who uses it.  Either enriching a user's cultural involvement, physical activity level, and/or enjoyment of everyday tasks.  If an app changes someone's life, it is certainly a candidate for the afabl badge.</li>
      </ul>

      <p>We support a way of life that involves smartphones as a positive influence on life, rather than an unhealthy obsession.  To find out who has won awards, look for posts on our blog tagged with "afabl award".</p>
    </div>
  </div>
</div>