<% provide(:title, "welcome") %>
<div class="content">
  <div class="headline-container" id="welcome-headline">
    <div class="headline">
      <h1 class="text-center">not just apps for your phone,<br>
        <strong>a</strong>pps <strong>f</strong>or <strong>a</strong> <strong>b</strong>etter <strong>l</strong>ife</h1>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="small-12 columns text-center">
        <form action="//afabl.us3.list-manage.com/subscribe/post?u=847c1ac77266146b8ebf9c1f1&amp;id=5844615408" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <h5>don't miss our latest releases!</h5>

              <div class="row collapse">
                <div class="medium-3 small-6 columns medium-offset-3">
                  <input type="email" value="" placeholder="your email here" name="EMAIL" class="required email text-center postfix round" id="mce-EMAIL">
                </div>
                <div class="medium-3 small-6 columns end">
                  <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix round">
                </div>
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_847c1ac77266146b8ebf9c1f1_5844615408" tabindex="-1" value="">
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>

  <div class="row hide-for-small" id="features-desktop">
    <br>

    <div class="small-4 columns">
      <img src="http://placehold.it/500x400&text=Feature 1" alt="Feature 1">
      <br>
      <h3 class="text-center">Feature 1<br>
      <small class="text-center subheading">Explanation of the feature</small></h3>
    </div>

    <div class="small-4 columns">
      <img src="http://placehold.it/500x400&text=Feature 2" alt="Feature 2">
      <br>
      <h3 class="text-center">Feature 2<br>
      <small class="text-center subheading">Explanation of the feature</small></h3>
    </div>

    <div class="small-4 columns">
      <img src="http://placehold.it/500x400&text=Feature 3" alt="Feature 3">
      <br>
      <h3 class="text-center">Feature 3<br>
      <small class="text-center subheading">Explanation of the feature</small></h3>
    </div>
  </div>

  <div class="row show-for-small" id="features-mobile">
    <br>
    <ul class="example-orbit-content" data-orbit>
      <li data-orbit-slide="headline-1">
        <img src="http://placehold.it/500x400&text=Feature 1" alt="Feature 1">
        <br>
        <h3 class="text-center">Feature 1<br>
        <small class="text-center subheading">Explanation of the feature</small></h3>
      </li>
      <li data-orbit-slide="headline-2">
        <img src="http://placehold.it/500x400&text=Feature 2" alt="Feature 2">
        <br>
        <h3 class="text-center">Feature 2<br>
        <small class="text-center subheading">Explanation of the feature</small></h3>
      </li>
      <li data-orbit-slide="headline-3">
        <img src="http://placehold.it/500x400&text=Feature 3" alt="Feature 3">
        <br>
        <h3 class="text-center">Feature 3<br>
        <small class="text-center subheading">Explanation of the feature</small></h3>
      </li>
    </ul>
  </div>

  <div class="row" id="apps-and-news" data-equalizer>
    <br>
    <br>
    <div class="medium-6 columns" data-equalizer-watch>
      <h4 class="text-center">Check out our apps</h4>
      <ul class="small-block-grid-2">
        <li><img src="http://placehold.it/300x300&text=App 1 logo" alt="App 1"></li>
        <li><img src="http://placehold.it/300x300&text=App 2 logo" alt="App 2"></li>
      </ul>
    </div>
    <div class="medium-6 columns" data-equalizer-watch>
      <h4 class="text-center">Our latest blog posts</h4>
      <ul>
        <li><a>What we've been up to...</a></li>
        <li><a>That article I got sent</a></li>
        <li><a>Hello world</a></li>
      </ul>
    </div>
</div>