<% provide(:title, "welcome") %>
<div class="row content">
  <div class="large-12 columns">
  <h2>welcome!</h2>

  <p>Here at afabl, we make mobile applications that take you out of your phone and enhance your life.  Most other app companies want to keep your head down and your fingers tapping but our philosophy is different: Apps can be used for good!  Take a look at our list of apps and subscribe to our newsletter for information upcoming releases and other news.</p>
</div>