<% provide(:title, "edit article") %>
<div class="row content">
  <div class="large-12 columns">
    <h1>Editing article</h1>
     
    <%= render 'form' %>
     
    <%= link_to 'Back', articles_path, class: 'button secondary' %>
  </div>
</div>