<% provide(:title, "new article") %>
<div class="row content">
  <div class="large-12 columns">
    <h1>New Article</h1>

    <%= render 'form' %>

    <%= link_to 'Back', articles_path, class: 'button secondary' %>
  </div>
</div>