#award-headline {
  background: {
    image: url('/images/sky-background-large.png');
    size: cover;
  }

  padding-bottom: 30vh;

  @media screen and (max-width: $medium-breakpoint) {
    padding-bottom: 20vh;
  }

  @media screen and (max-width: $small-breakpoint) {
    padding-bottom: 30vh;
  }
}