.danger-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:lighten(red, 15%),
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}

html, body, .off-canvas-wrap, .inner-wrap, .content
{
  height: 100%;
.g-recapture {
  @media screen and (max-width: $small-breakpoint) {
    transform:scale(0.77);
    transform-origin:0 0;
  }
}
}