.danger-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:lighten(red, 15%),
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}

.hero-img {
  width: 100%;
}

.headline-container {
  width: 100%;
  padding-bottom: 56.25%;

  @media screen and (max-width: $small-breakpoint) {
    padding-bottom: 75%;
  }

  .headline {
    position: absolute;

    @media screen and (max-width: $medium-breakpoint) {
      top: 5%;
    }

    @media screen and (max-width: $small-breakpoint) {
      top: 7.5%;
    }

    top: 10%;
    left: 10%;
    right: 10%;
  }
}

.g-recapture {
  @media screen and (max-width: $small-breakpoint) {
    transform:scale(0.77);
    transform-origin:0 0;
  }
}

input[type=text].postfix.round,
input[type=email].postfix.round {
  border-radius: 1000px 0 0 1000px;
}