  </div>
  
  <footer>
    <br>
    <hr>

    <div class="row">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="small-12 medium-6 medium-offset-0 columns text-center">
        <form action="//afabl.us3.list-manage.com/subscribe/post?u=847c1ac77266146b8ebf9c1f1&amp;id=5844615408" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <h5>Subscribe to our newsletter:</h5>
              <div class="row collapse">
                <div class="small-8 columns">
                  <input type="email" value="" placeholder="your email here" name="EMAIL" class="required email text-center postfix round" id="mce-EMAIL">
                </div>
                <div class="small-4 columns">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button postfix round">
                </div>
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_847c1ac77266146b8ebf9c1f1_5844615408" tabindex="-1" value="">
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->

      <div class="small-12 medium-6 medium-offset-0 columns text-center">
        <h5 class="text-center">Follow us on these social networks:</h5>

        <div id="social-links">
          <a href="" class="facebook-link"></a><a href="" class="twitter-link"></a><a href="" class="googleplus-link"></a><a href="" class="youtube-link"></a>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <br>
      <p>afabl™ is a trademark of <a target="_blank" href="http://artlyticalmedia.com">Artlytical Media</a><br>
      © copyright <%= Time.now.year %> <a target="_blank" href="http://artlyticalmedia.com">Artlytical Media</a></p>
    </div>
  </footer>
</div>